<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.stevens.cs522.bookstore"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activities.BookStoreActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" 
        	android:name=".activities.AddBookActivity">
		</activity>
		<activity android:label="@string/app_name"
        	android:name=".activities.CheckoutActivity">
		</activity>
    </application>
</manifest>